    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Menu de Opciones:</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Transformaciones <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/operaciones">Operaciones Basicas</a>
      <a class="nav-item nav-link disabled" href="#">Operaciones Complejas</a>
    </div>
  </div>
  <br>
<br>
</nav>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">

    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                                  <center><h5>Resultado de la Tranformación</h5></center>              
<br>
                <form action="/"  name="panel">

                    <div class="form-group">
                        Binomica: (Re: <input style="text-align: right" size="4" type="text" id="real" name="real" />

                        Im: <input style="text-align: right" size="4" type="text" id="imag" name="imag" /> )

                       </div>
                        <div class="form-group">
                        Polar: [Mod: <input style="text-align: right" size="4" type="text" id="modulo" name="modulo"/>
                           
                        Arg: <input style="text-align: right" size="4" type="text" id="angle" name="angle"/> &Pi; ]

                        (Arg: <input style="text-align: right" size="4" type="text" id="radian" name="radian" readonly="readonly"/>°)

                        </div>

                        <div>
                            <button type="submit" class="btn btn-success btn-block">atras</button>

                        </div>

                    </div>

                </form>


            </div>

        </div>

    </div>


</div>

<script>
    document.panel.real.value = {{ resultado.real }}
    document.panel.imag.value = {{ resultado.imaginario }}
    document.panel.modulo.value = {{ resultado.mod }}
    document.panel.angle.value = {{ resultado.angle }}
    document.panel.radian.value = {{ resultado.angle }}*180

</script>